<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          required
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Campground Name"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="City, Country"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Camping Price</label>
        <div class="input-group">
          <span id="price-label" class="input-group-text">$</span>
          <input
            required
            placeholder="Price"
            id="price"
            type="text"
            class="form-control"
            aria-label="price"
            name="campground[price]"
          />
          <span class="input-group-text">.00</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          type="text"
          name="campground[description]"
          id="location"
          placeholder="Descripe the Campground"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Images</label>
        <input
          name="image"
          class="form-control"
          type="file"
          id="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Add Campground</button>
      </div>
    </form>
    <a class="back-link" href="/campgrounds"><svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#c2c2c2"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 19L7 12L13 5" stroke="#bd5500" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="#bd5500" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg> Cancel </a>
  </div>
</div>
