body {
  font-family: 'Maven Pro', sans-serif;
}

nav{
  background-color: #be4e00 !important;
  font-size: larger;
  font-weight: bold;
}

nav .nav-link{
  color: white;
}

nav .nav-link:hover{
  color: white;
  border-bottom: 4px solid white;
}

.btn-primary {
  background-color: #be4e00;
  border: 1px solid   ;
}

.btn-primary:hover {
  background-color: #be4e00;
  opacity: 0.8;
}

/* selected text styling */
::selection {
    color: white;
    background-color: #0d6efd;
}

/* scrollbar styling */
body::-webkit-scrollbar {
  width: 0.5em;
}
   
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: 1px solid rgb(8, 0, 255);
}

#map {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;
  height: 50vh;
}


footer {
  background-color: #be4e00 !important;
  font-size: larger;
  font-weight: bold; 
}
